{% extends "base.html" %}
{% block content %}
{% load humanize %}

    <div class="mx-auto w-full max-w-10 mt-28">
        <h1 class="text-4xl font-bold text-center mb-8">Volumes Mutualisés</h1>

        <!-- Formulaire de filtrage -->
        <form method="GET" class="flex justify-center mb-8">
            <!-- Filtre par mois -->
            <div class="mr-4">
                <label for="mois" class="block text-gray-700 font-medium">Mois:</label>
                <select id="mois" name="mois" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm">
                    <option value="">Tous</option>
                    {% for mois in mois_list %}
                    <option value="{{ mois.0 }}" {% if mois.0 == request.GET.mois %}selected{% endif %}>{{ mois.1 }}</option>
                    {% endfor %}
                </select>
            </div>
        
            <!-- Filtre par année -->
            <div class="mr-4">
                <label for="annee" class="block text-gray-700 font-medium">Année:</label>
                <select id="annee" name="annee" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm">
                    <option value="">Toutes</option>
                    {% for an in annee_list %}
                    <option value="{{ an }}" {% if an == request.GET.annee %}selected{% endif %}>{{ an }}</option>
                    {% endfor %}
                </select>
            </div>
        
            <!-- Filtre par terminal -->
            <div class="mr-4">
                <label for="terminal" class="block text-gray-700 font-medium">Terminal:</label>
                <select id="terminal" name="terminal" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm">
                    <option value="">Tous</option>
                    {% for terminal in terminal_list %}
                    <option value="{{ terminal }}" {% if terminal == request.GET.terminal %}selected{% endif %}>{{ terminal }}</option>
                    {% endfor %}
                </select>
            </div>
        
            <!-- Bouton de soumission -->
            <div class="mt-6">
                <button type="submit" class="px-4 py-2 bg-yellow-500 text-white rounded-md">Filtrer</button>
            </div>
        </form>
        <div class="grid md:grid-cols-3 md:gape-2">
            <!-- Donut Chart pour la répartition totale des volumes par carburant -->
            <div class="mb-8">
                <h2 class="text-lg font-semibold text-center mb-4">Répartition des Volumes par Carburant</h2>
                <canvas id="donutChart"></canvas>
            </div>

            <!-- Bar Chart pour les volumes par terminal -->
            <div class="mb-8">
                <h2 class="text-lg font-semibold text-center mb-4">Volumes par Terminal</h2>
                <canvas id="barChart"></canvas>
            </div>

            <!-- Line Chart pour l'évolution des volumes par terminal -->
            <div class="mb-8">
                <h2 class="text-lg font-semibold text-center mb-4">Évolution des Volumes par Terminal</h2>
                <canvas id="lineChart"></canvas>
            </div>
        </div>
        <!-- Données pour les graphiques -->
        <script>
            // Donut Chart pour la répartition des volumes par type de carburant
            const donutData = {
                labels: ['Essence', 'Gasoil', 'Pétrole'],
                datasets: [{
                    label: 'Volumes',
                    data: [{{ total_volume_essence }}, {{ total_volume_gasoil }}, {{ total_volume_petrol }}],
                    backgroundColor: ['#f87171', '#60a5fa', '#34d399']
                }]
            };

            const donutConfig = {
                type: 'doughnut',
                data: donutData,
                options: {
                    responsive: true,
                }
            };

            // Bar Chart pour les volumes par terminal
            const barLabels = [
                {% for volume in volumes_par_terminal %}
                '{{ volume.terminal }}',
                {% endfor %}
            ];

            const barData = {
                labels: barLabels,
                datasets: [
                    {
                        label: 'Essence',
                        data: [
                            {% for volume in volumes_par_terminal %}
                            {{ volume.total_volume_essence }},
                            {% endfor %}
                        ],
                        backgroundColor: '#f87171'
                    },
                    {
                        label: 'Gasoil',
                        data: [
                            {% for volume in volumes_par_terminal %}
                            {{ volume.total_volume_gasoil }},
                            {% endfor %}
                        ],
                        backgroundColor: '#60a5fa'
                    },
                    {
                        label: 'Pétrole',
                        data: [
                            {% for volume in volumes_par_terminal %}
                            {{ volume.total_volume_petrol }},
                            {% endfor %}
                        ],
                        backgroundColor: '#34d399'
                    }
                ]
            };

            const barConfig = {
                type: 'bar',
                data: barData,
                options: {
                    responsive: true,
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            };

            // Line Chart pour l'évolution des volumes par terminal
            const lineLabels = [
                {% for volume in volumes_par_terminal %}
                '{{ volume.terminal }}',
                {% endfor %}
            ];

            const lineData = {
                labels: lineLabels,
                datasets: [
                    {
                        label: 'Essence',
                        data: [
                            {% for volume in volumes_par_terminal %}
                            {{ volume.total_volume_essence }},
                            {% endfor %}
                        ],
                        fill: false,
                        borderColor: '#f87171',
                        tension: 0.1
                    },
                    {
                        label: 'Gasoil',
                        data: [
                            {% for volume in volumes_par_terminal %}
                            {{ volume.total_volume_gasoil }},
                            {% endfor %}
                        ],
                        fill: false,
                        borderColor: '#60a5fa',
                        tension: 0.1
                    },
                    {
                        label: 'Pétrole',
                        data: [
                            {% for volume in volumes_par_terminal %}
                            {{ volume.total_volume_petrol }},
                            {% endfor %}
                        ],
                        fill: false,
                        borderColor: '#34d399',
                        tension: 0.1
                    }
                ]
            };

            const lineConfig = {
                type: 'line',
                data: lineData,
                options: {
                    responsive: true,
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            };

            // Initialisation des graphiques
            const donutChartCtx = document.getElementById('donutChart').getContext('2d');
            const donutChart = new Chart(donutChartCtx, donutConfig);

            const barChartCtx = document.getElementById('barChart').getContext('2d');
            const barChart = new Chart(barChartCtx, barConfig);

            const lineChartCtx = document.getElementById('lineChart').getContext('2d');
            const lineChart = new Chart(lineChartCtx, lineConfig);
        </script>

        <div class="w-full xl:w-8/12 mb-12 xl:mb-0 px-4 mx-auto mt-24">
            <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded ">
              <div class="rounded-t mb-0 px-4 py-3 border-0">
                
              </div>
          
              <div class="block w-full overflow-x-auto">
                <table class="items-center bg-transparent w-full border-collapse ">
                  <thead>
                    <tr>
                      <th class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                                    Terminaux
                                  </th>
                    <th class="px-6 bg-blueGray-50 text-center text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                                    Volume Gasoil
                                  </th>
                     <th class="px-6 bg-blueGray-50 text-center text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                                    Volume Essence
                                  </th>
                    <th class="px-6 bg-blueGray-50 text-center text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                                    Volume Petrole
                                  </th>
                    <th class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                                    Mois 
                                  </th>
                                  <th class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                                    Année
                                  </th>
                    </tr>
                  </thead>
          
                  <tbody>
                    {% for v in volume_mutualise %}
                    <tr>
                      <th class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left text-blueGray-700 ">
                        {{v.terminal}}
                      </th>
                      <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-right">
                        {{v.volume_gasoil|intcomma}}
                      </td>
                      <td class="border-t-0 px-6 align-center border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-right">
                        {{v.volume_essence|intcomma}}
                      </td>
                      <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-right">
                        <i class="fas fa-arrow-up text-emerald-500 mr-4"></i>
                        {{v.volume_petrol|intcomma}}
                      </td>
                      <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                        <i class="fas fa-arrow-up text-emerald-500 mr-4"></i>
                        {{v.mois}}
                      </td>
                      <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                        <i class="fas fa-arrow-up text-emerald-500 mr-4"></i>
                        {{v.annee}}
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
          
                </table>
              </div>
            </div>
          </div>
    </div>


{% endblock  %}